body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  display: grid;
}
header{
  padding-left: 10px;
  padding-right: 10px;
  background: #efefef;
}
section{
padding: 20px;
border: 1.5px solid black;
}
aside{
  background: #efefef;
  padding-left: 10px;
  text-align: center;
}
.bewerker{
  text-align: right;
}
aside a {
  color: black;
}
footer{
  text-align: center;
  background-color: #efefef;
}
section:nth-child(7){
  background-color: #FF5733;
}
#validatie{
  margin-top: 80px;
}
@media screen and (min-width: 60em) {
  .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       }
  header{
       grid-column: 1/4;
       }
         main{
           grid-column: 1/4;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 2em;
         }
         .hartslag{
           grid-row: 1/3;

         }
   aside{
        grid-column: 1/4;
   }
   footer{
     grid-column: 1/4;
   }
}
@media screen and (min-width: 30em) {
   .container{
          display: grid;
          grid-template-columns: 1fr 1fr;
  }
   header{
         grid-column: 1/3;
         }
         main{
           grid-column: 1/3;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 2em;
         }
   aside{
     text-align: left;
     grid-column: 1/2;

   }
   footer{
     grid-template-columns: 1fr 1fr;
     grid-column: 2/3;
   }
}
